<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
        </staticContent>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <httpRedirect enabled="false" destination="/demo/html/login.html" exactDestination="false" childOnly="false" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/demo/IceMountain/Pages/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>