<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="login.html" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="true" destination="/demo/html/login.html" />
    </system.webServer>
</configuration>
